Marithmetic App/.vs
Countdown Maths/Library
Marithmetic App/.vscode
Marithmetic App/obj
Marithmetic App/Logs
Marithmetic App/UserSettings
Marithmetic App/Library
Marithmetic App/*.csproj
Marithmetic App/*.apk
Marithmetic App/Temp
Marithmetic App/Marithmetic App.sln
Marithmetic App/Builds
.DS_Store
